@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.neutral-content');
    box-shadow: theme('boxShadow.md');
  }
}

.fade-anim img {
  animation: fadeAnim 1000ms ease-out;
}

@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  margin: 0;
  height: 100vh;
  background-color: rgb(249 243 217);
}
